/* Fuentes importadas desde Google Fonts
Open Sans: Light 300 - Regular 400 - Regular Italic 400 - Bold 700 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');

h1 {
    font-size: 9vw;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2vw;
}

h4 {
    font-size: 1vw;
}

h5 {
    font-size: 0.5vw;
}