body {
    font-family: $typo-main;
    font-size: 1rem;
    line-height: 1.5;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: $txt-weight-bold;
}

i{
    color: $color-main;
}

a{
    &:hover {
        text-decoration: none;
        background-color: $color-main;
        color: $white;
    }
}