/* Fuentes importadas desde Google Fonts
Roboto Slab: Light 300 - Regular 400 - Bold 700 */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');

h1 {
    font-size: 9vw;
}

h2 {
    font-size: 4vw;
}

h3 {
    font-size: 3vw;
}

h4 {
    font-size: 2vw;
}

h5 {
    font-size: 1vw;
}