// COLORS SCHEME
$color-main: #A92205;
$white: #ffffff;
$gray: #EEEEEE;
$dark-gray: #505050;

// TYPOGRAPHY
$typo-main:'Roboto Slab', serif;


// FONT WEIGHT
$txt-weight-light: 300;
$txt-weight-regular: 400;
$txt-weight-bold: 700;

//MEDIA QUERIES
$breakpoint-desktop: 1260px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;