main {
    height: 98vh;
    width: 100vw;
    color: $white;
    text-shadow: 2px 2px 20px $dark-gray;
}

.hero__section {
    background-image: url(../img/hero-img.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
    width: 100vw;
    z-index: 0;
}

.carrusel__main {
    width: 80vw;
    position: absolute;
    right: 10vw;
    bottom: 20vh;
    z-index: 1;
    img {
        object-fit: cover;
    }
    &:after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
    }
}


.boton {
    position: absolute;
    right: 30vw;
    bottom: 18vh;
    z-index: 2;
}

@media (min-width: $breakpoint-tablet) {
    .hero__section {
        width: 70vw;
        height: 100vh;
        z-index: 0;
    }

    .carrusel__main {
        width: 35vw;
        position: absolute;
        right: 5vw;
        bottom: 20vh;
        z-index: 1;
        img {
            object-fit: cover;
        }
        &:after {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
        }
    }
    .boton {
        position: absolute;
        right: 10vw;
        bottom: 18vh;
        z-index: 2;
    }
}