// COLORS SCHEME
$color-main: #A92205;
$white: #ffffff;
$gray: #EEEEEE;

// TYPOGRAPHY
$typo-main: 'Open Sans', sans-serif;
$typo-titles: 'Open Sans', sans-serif;

// FONT SIZES
/* $txt-size-xxxxxl: 96px;
$txt-size-xxxxl: 45px;
$txt-size-xxxl: 40px;
$txt-size-xxl: 35px;
$txt-size-xl: 30px;
$txt-size-l: 20px;
$txt-size-md: 16px;
$txt-size-sm: 14px;
$txt-size-xs: 12px; */

// FONT WEIGHT
$txt-weight-regular: 400;
$txt-weight-bold: 700;